body{
    color: purple;
    background-color: darkgray
}

p{
    color:pink;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img{
width: 30px;    /*Ancho*/
height: 30px;   /*Alto*/
}

table, td, th{
    border: 2px solid rgb(197, 201, 0);
    border-collapse: collapse;
    text-align: center;
}

td{
    background-color: rgb(137, 148, 148);
}

.tamanyoimagen      /*Si comienza por punto es para */
{
    width: 1800px;    /*Ancho*/
    height: 200px;   /*Alto*/
}
.rojo{
    color: red;
}
#linea1 {
    background-color: bisque;
}
